{% macro item(item, linkSection, released) %}
	{% if not linkName %} {% set linkName = item %} {% endif %}
	<td id="{{linkSection|slugify}}{% if linkName %}-{{linkName|slugify}}{% endif %}">
		<a href="#{{linkSection|slugify}}{% if linkName %}-{{linkName|slugify}}{% endif %}" class="NutricionalTable-table-link"><i class="fa fa-link"></i></a>
		{% if released %}
			<a href="https://github.com/theus/MenuChef/releases/tag/v{{released}}" target="_blank" style="text-decoration: none;">
				<span class="label label-info" style="zoom: 0.8;" title="Released in MenuChef's {{released}} version">v{{released}}</span>
			</a>
		{% endif %}
		{{item}}
	</td>
{% endmacro %}

{% macro linkTo(item, linkSection) %}
	<a href="#{{linkSection}}">{{item}}</a>
{% endmacro %}